<input ng-model="todo.completed" type="checkbox" />
<span ng-click="todo.completed = !todo.completed; todo.edited = true"></span>
<label ng-hide="editing" ng-click="editing = true">{{todo.name}}</label>
<input ng-blur="editing = false" ng-change="todo.edited = true" ng-model="todo.name" ng-show="editing" class="editing-label" type="text" />
<div class="actions">
  <a href="" ng-click="editing = !editing">Edit</a>
  <a href="" ng-click="saveTodos()">Save</a>
  <a href="" ng-click="deleteTodo(todo, $index)" class="delete">Delete</a>
</div>
